
.show_modal_custom {
    position: absolute;
    right: 10px;
    top: 0;
    width: 80%;
    transform: translateX(100%);
    transition: transform 3s ease;
}

.show_product_form {
    position: absolute;
    top: 150px;
    right: 0;
    width: 60%;
    display: none;
}

.show_order_detail {
    position: absolute;
    top: 0;
    width: 100%;
    overflow-x: visible;
    display: none;
}

.show_admin_form {
    position: absolute;
    top: 10px;
    width: 100%;
    display: none;
}

.show_mobile {
    display: none;
}

.show_admin_status {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80%;
    display: none;
}

@media (max-width: 1024px) {
    .show_mobile_now {
        display: block;
    }
}

/*For aside menu items*/
.aside_menu_link {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 18px !important;
}

@media (max-width: 1024px) {
    .menu-aside {
        height: 90vh !important;
    }

    .mobile-icon {
        font-size: 20px !important;
    }

    .mobile-text {
        font-size: 12px !important;
    }

    #all_links {
        height: 100%;
    }
}